// Import partial's file, without '_' and extension
@import 'partial';

$textColor: red;
$backgroundColor: yellow;

@mixin boxSize($width, $height) {
    width: $width;
    height: $height;
    border: 2px solid black;
    padding: 2rem;
}

div.main {
    background: $backgroundColor;
    color: $primary-color; // $textColor;
    @include boxSize(300px, 300px);
    p {
        color: green;
        padding: 1rem 2rem;
    }

    a {
        background: skyblue;
        display: inline-block;
        padding: 10px 15px;
    }
}

.button-box {
    width: 250px;
    height: 80px;
    padding: .5rem 1rem;
    border: 2px solid #333;
    box-sizing: border-box;
}

.confirm {
    @extend .button-box;
    background: green;
}

.cancel {
    @extend .button-box;
    background: red;
}

